# Systems
.DS_Store
Thumbs.db

# Environments
venv/
env/
.env
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Node
node_modules/
dist/
build/
.npm/

# Large Files & Data
PLANILHA CUSTO MODULAR/
Padrões/
temp_excel/
*.xlsm
*.xlsx
*.docx
data/raw/
*.pdf
*.db
*.sqlite
data/technical_data.db

# Logs
*.log
logs/

# React
frontend/dist/
frontend/node_modules/
Padrões construtivos/ANEXO B - RECON.zip
Padrões construtivos/OPO-25-0008 - RUA MANUEL BECKMAM.zip
Padrões construtivos/Padrões.zip
Padrões construtivos/Reguladores de tensão.zip
Padrões construtivos/TRAÇÃO DOS CONDUTORES.jpeg
Padrões construtivos/CINTAS A ULTILIZAR/POSTE 9m300dAN_30L-Layout1.jpg
Padrões construtivos/CINTAS A ULTILIZAR/POSTE 11m300dAN-Layout1.jpg
Padrões construtivos/CINTAS A ULTILIZAR/POSTE 11m600dAN-Layout1.jpg
Padrões construtivos/CINTAS A ULTILIZAR/POSTE 11m1000dAN-Layout1.jpg
Padrões construtivos/CINTAS A ULTILIZAR/POSTE 12m600dAN-Layout1.jpg
Padrões construtivos/CINTAS A ULTILIZAR/POSTE 12m1000dAN-Layout1.jpg
Padrões construtivos/Padrão CMB/WhatsApp Image 2025-05-06 at 11.53.29.jpeg
Padrões construtivos/Padrão Cabo Armado/imagem.png
